<div id="footer" class="bg-color-0">
	<span class="border"></span>
	<div id="inside-footer" class="row w960 ">
		<div id="schedule" class="col-md-3">
			<h5>horaires chez luna</h5>
			<ul>
				<li>Lundi : 07h30 - 15h</li>
				<li>Mardi - Samedi : 07h30 - 22h </li>
				<li>Dimanche : 09h - 15h</li>
			</ul>
		</div>
		<div id="sitemap" class="col-md-6">
			<h5>Plan du site</h5>
			<ul>
				{% include 'menu' %}
				<li><a href="#">CVG</a></li>
			</ul>
		</div>
		<div id="legal-mention" class="col-md-3">
			<h5>mentions légales</h5>
			<ul>
				<li>Copyright : © Restaurant Chez Luna</li>
			</ul>
		</div>

	</div>


{% comment %}
	{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' | javascript_tag }}
	{{ '//code.jquery.com/ui/1.10.4/jquery-ui.js' | javascript_tag }}
	{{ 'jquery-ui.js' 			| javascript_tag }}
{% endcomment %}


{{ 'jquery-1.11.0.min.js' 	| javascript_tag }}

{{ 'bootstrap.min.js' 		| javascript_tag }}
{{ 'jquery.slides.min.js' 	| javascript_tag }}
{{ 'ecommerce_cart.js' | javascript_tag }}
{{ 'ecommerce_paiement.js' | javascript_tag }}
{{ 'coupon.js' | javascript_tag }}
{{ 'ecommerce_checkout_address.js' | javascript_tag }}



<!-- slider -->
<script type="text/javascript">
    $(function() {
      $('#slider').slidesjs({
        navigation: {
      	  active: false,
		},
		pagination: {
      	  active: false,
      	},
        play: {
          active: false,
          effect: "fade",
          auto: true,
          interval: 4000,
          swap: false,
          pauseOnHover: true,
          restartDelay: 2500
        }
      });
    });
</script>


</div>

<!-- import coupon -->
{% include modal_coupon %}


