---
title: Livre d'or
published: true
flag_pages:
- guestbook-success-callback
- guestbook-error-callback
---
{% extends 'layouts/layouta/layouta2' %}
<!-- Car j'ai besoin d'un middle avec une zone gauche et zone droite -->

<!-- script permettant de modifier le thème de reCaptcha -->
<script type="text/javascript">
  var RecaptchaOptions = {
    theme : 'white'
    // Choix disponibles
    /* 'red' (thème par défaut)
       'white'
       'blackglass'
       'clean'
    */
  };
</script>

<!-- block central coté gauche -->
{% block 'body/middle/col-center/left' %}
	<div class="section-guestbook-form">
		<section>
			<header>PARTAGEZ VOTRE AVIS</header>
				<form action="" method="post" class="form-guestbook">
					{% assign new_comment = guestbook_comments.new %}
	                 {% if new_comment.errors %}
	                   <p>The following errors occured:</p>
	                   <ul>
	                   {% for error in new_comment.errors %}
	                     <li>{{error[0] | capitalize}} -  {{error[1]}}</li>
	                   {% endfor %}
	                   </ul>
	                 {% endif %}

					<div class="input">
						<input type="text" placeholder="Nom" name="comment[last_name]" value="{{ new_comment.last_name }}">
					</div>
					<div class="input">
						<input type="text" placeholder="Prénom" name="comment[firts_name]"  value="{{ new_comment.firts_name }}">
					</div>
					<div class="input">
						<input type="text" placeholder="Email" name="comment[email]" value="{{ new_comment.email }}" >
					</div>
					<div class="input-area">
						<textarea placeholder="Message" "comment[content]">{{ new_comment.content }}</textarea>
					</div>

					<div class="actions">
						<input type="submit" value="Envoyer">
						<input type="hidden" name="comment_post_ID" value="9" id="comment_post_ID">
                        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
					</div>
				</form>
		</section>
</div>
{% endblock %}

<!-- block central coté droit -->
{% block 'body/middle/col-center/right' %}
<div class="section-guestbook-articles">
	<section>
		<!-- appel module guestbook -->
		{% assign comments_params = '{"orders": {"last_name": "asc"}, "limit": 3}' %}
		<!-- déclaration du nom de la variable qui permet le fonctionnement de la pagination -->
		{% assign page_key = 'comment_page' %}
		<!-- recupération des commentaires en fonction des paramètres passés précédemment -->
		{% assign comments = {{guestbook_comments.all}} %}

		
    {% for comment in comments.collection %}
		<article>
			<header><span class="author">{{ comment.first_name }} {{comment.last_name | first  }}</span><span class="date">, 
			le {{comment.created_at | date: "%D" }}</span></header>
			<div class="content">
				<p>
					{{ comment.content }}
				</p>
			</div>
		</article>
	{% endfor %}
	</section>


	<!-- Gestion de la pagination -->
	<div class="pagination">
		<!-- page courrante -->
		{% 	assign current_page = comments.current_page %}

		<!-- bouton suivant et précedent  -->
		{% 	assign page_prev = current_page | minus: 1 %}
		{%  assign page_next = current_page | plus: 1  %}


		<a href="?{{guestbook_comments.url_params_for}}{{ page_prev }}">previous</a>


		{% 	assign max = current_page | plus: 3 %}
		{% 	assign min = current_page | minus: 3 %} 

		{% for page in (min..page_prev) %}
			{% if page == comments.current_page %}
				{{ page }}
			{% else %}
			    <a href="?{{guestbook_comments.url_params_for}}{{ page }}">{{ page }}</a>
		  	{% endif %}
		{% endfor %}

		<!-- current page -->
		{{ current_page }}


		{% for page in (page_next..max) %}
		  {% if page == comments.current_page %}
		    {{ page }}
		  {% else %}
		    <a href="?{{guestbook_comments.url_params_for}}{{ page }}">{{ page }}</a>

		  {% endif %}
		{% endfor %}
		
		<!-- bouton suivant -->

		 <a href="?{{guestbook_comments.url_params_for}}{{ page_next}}">next</a>
	</div>

</div>
{% endblock %}
<!-- Sidebar -->
